/* Ссылка */
A{text-decoration:none;}
A:visited{color:#0000CD;}
A:link{color:#0000CD;}

/* Тело страницы */
BODY{margin:10mm;font-family:Courier New;font-size:12pt;background-color:#FEFEFE;}

/* Заголовок 1 */
H1{font-size:18pt;text-align:left;color:#990000;}

/* Заголовок 2 */
H2{font-size:14pt;text-align:left;color:#990000;}

/* Заголовок 3 */
H3{font-size:12pt;text-align:left;color:#990000;}

/* Выделенный текст */
KBD{color:#007A00;}

/* Отфарматированный текст */
PRE{margin-left:5mm;color:#461B7E;}

/* Таблица */
TABLE{font-family:Courier New;font-size:12pt;}

/* Текст выравненный по ширине без красной строки используется вместе с <p> */
.t{text-align:justify;}

/* Текст выравненный по ширине с красной строкой используется вместе с <p> */
.tj{text-align:justify;text-indent:10mm;}

.square {
  list-style-type: square;
}

li.t + li.t {
  padding-top: 1em;
}
