@charset "utf-8";

A{text-decoration:none;}
A:visited{color:#0000CD;}
A:link{color:#0000CD;}

/* Тело страницы */
BODY{margin:10mm;font-family:Courier New;font-size:12pt;background-color:#FEFEFE;}

/* Заголовок 1 */
H1{font-size:18pt;text-align:left;color:#990000;}

/* Заголовок 2 */
H2{font-size:14pt;text-align:left;color:#990000;}

/* Заголовок 3 */
H3{font-size:12pt;text-align:left;color:#990000;}

/* Выделенный текст */
KBD{color:#007A00;}

/* Отфарматированный текст */
PRE{margin-left:5mm;color:#461B7E;}

/* Таблица */
TABLE{font-family:Courier New;font-size:12pt;}

/* Текст выравненный по ширине без красной строки используется вместе с <p> */
.t{text-align:justify;}

/* Текст выравненный по ширине с красной строкой используется вместе с <p> */
.tj{text-align:justify;text-indent:10mm;}

.square {
  list-style-type: square;
}

li.t + li.t {
  padding-top: 1em;
}

.tdnote {
  background-color: skyblue;
  width: 8.33333333%;
  text-align: center;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
}

.table-bordered {
  border: 1px solid #dfd7ca;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #dfd7ca;
}



.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.span1 {
  width: 6.382978723%;
}
.span2 {
  width: 14.89361702%;
}
.span3 {
  width: 23.404255317%;
}
.span4 {
  width: 31.914893614%;
}
.span5 {
  width: 40.425531911%;
}
.span6 {
  width: 48.936170208%;
}
.span7 {
  width: 57.446808505%;
}
.span8 {
  width: 65.957446802%;
}
.span9 {
  width: 74.468085099%;
}
.span10 {
  width: 82.978723396%;
}
.span11 {
  width: 91.489361693%;
}
.span12 {
  width: 99.99999999%;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #bd4147;
  background-color: #f7f7f9;
  border-radius: .25rem;
}
